/* Define the Garet font family */
@font-face {
    font-family: 'Garet';
    src: url('fonts/Garet-Book.woff2') format('woff2'),
         url('fonts/Garet-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garet';
    src: url('fonts/Garet-Heavy.woff2') format('woff2'),
         url('fonts/Garet-Heavy.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%); /* Start off-screen to the left */
        opacity: 0; /* Start fully transparent */
    }
    100% {
        transform: translateX(0); /* End aligned with its starting position */
        opacity: 1; /* Fully opaque */
    }
}

@keyframes slideDownFadeIn {
    0% {
        transform: translateY(-100%); /* Start above the screen */
        opacity: 0; /* Start fully transparent */
    }
    100% {
        transform: translateY(0); /* End at normal position */
        opacity: 1; /* Fully visible */
    }
}

@keyframes popRightToLeft {
    0% {
      transform: translateX(100%) scale(0.5); /* Start off the screen to the right */
      opacity: 0;
    }
    100% {
      transform: translateX(0%) scale(1); /* End at the normal position */
      opacity: 1;
    }
  }
  

  @keyframes slideInFromRight {
    0% {
        transform: translateX(100%); /* Start off-screen to the right */
        opacity: 0; /* Start fully transparent */
    }
    100% {
        transform: translateX(0); /* End aligned with its starting position */
        opacity: 1; /* Fully opaque */
    }
}

@keyframes slideUpFadeIn {
    0% {
        transform: translateY(100%); /* Start from below the view */
        opacity: 0; /* Start fully transparent */
    }
    100% {
        transform: translateY(0); /* End at the normal position */
        opacity: 1; /* Fully opaque */
    }
}

@keyframes popUp {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

body {
    font-family: 'Garet', sans-serif; /* Uses Garet font with sans-serif as a fallback */
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background: #f9f5b9;
    transition: height 0.3s ease-in-out;
}



.main-container{
    display: flex;
}

/*main left*/
.main-left{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 3;
    
}

/*main right*/
.main-right{
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
}

/*ml left*/
.ml-left{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.back-btn {
    padding: 10px 20px; /* Adequate padding for clickable area */
    background-color: #fbfbfe; /* Navy blue background to stand out */
    color: #d50e38; /* White text */
    border: none; /* No border */
    border-radius: 20px; /* Rounded corners */
    font-weight: bold; /* Bold text */
    cursor: pointer; /* Pointer cursor on hover */
}

.profile{
    
}


.profile img {
    width: 300px; /* Set the width of the image */
    height: 350px; /* Set the height of the image */
    object-fit: cover; /* Ensures the image covers the area without distorting */
    border-radius: 50%; /* Creates an elliptical shape */
    box-shadow: 0 0 10px 2px #d50e38; /* Adds a yellow shadow effect */
    animation: slideInFromLeft 1.5s ease-out forwards;
}

.socials{
    display: flex;
    gap: 10px;
    animation: slideInFromLeft 1.5s ease-out forwards;
}

.socials img {
    width: 50px; /* Sets a fixed width for each logo */
    height: 50px; /* Sets a fixed height for each logo */
    object-fit: contain; /* Ensures the logos are contained within their box without stretching */
}

/*ml right*/
.ml-right{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
    padding-bottom: 20px;
}

.intro{
    display: flex;
    flex-direction: column;    
 }

.greetings{
    font-size: x-large;
    color: #131661;
    animation: slideDownFadeIn 1.5s ease-out forwards; /* Apply the animation */
    font-weight: bold;
}

.name{
    font-size: xx-large;
    color: #d50e38;
    text-shadow: 0 3px 12px #d50e38;
    font-weight: bold;
    animation: slideDownFadeIn 1.5s ease-out forwards; /* Apply the animation */
}

.role{
    display: flex;
    gap:5px;    
    font-weight: bold;
    align-items: baseline;
    animation: slideDownFadeIn 1.5s ease-out forwards; /* Apply the animation */
 }

 .role-1{
    font-size: x-large;
    color: #d50e38;
    animation: slideDownFadeIn 1.5s ease-out forwards; /* Apply the animation */
    text-shadow: 0 3px 12px #d50e38;
 }

 .bridge{
    font-size: x-large;
    color: #131661;
    animation: slideDownFadeIn 1.5s ease-out forwards; /* Apply the animation */
 }

 .role-2{
    font-size: x-large;
    color: #d50e38;
    animation: slideDownFadeIn 1.5s ease-out forwards; /* Apply the animation */
    text-shadow: 0 3px 12px #d50e38;
 }

 .age{
    display: flex;
    gap:5px;    
    font-weight: bold;
    align-items: baseline;
    font-size:medium;
    color: #131661;
    animation: slideDownFadeIn 1.5s ease-out forwards; /* Apply the animation */
 }

 .description {
    background-color: #d50e38; /* Existing background color */
    padding: 20px; /* Existing padding */
    color: #fbfbfe; /* Text color */
    border-radius: 20px; /* Rounded corners */
    text-align: justify; /* Text alignment */
    animation: slideDownFadeIn 1.5s ease-out forwards;
    
}



.view-btn {
    padding: 10px 20px; /* Adequate padding for clickable area */
    background-color: #131661; /* Navy blue background to stand out */
    color: #fff; /* White text */
    border: none; /* No border */
    border-radius: 20px; /* Rounded corners */
    font-weight: bold; /* Bold text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    outline: none; /* Remove outline to keep the design clean */
    display: flex;
    justify-content: left;
    align-items: center;
    box-shadow: 0 3px 12px #131661;
    position: relative; /* Ensures the positioning context is set */
    overflow: hidden; /* Prevents overflow of child elements */
    animation: slideDownFadeIn 1.5s ease-out forwards;
}

.btn-image img {
    display: none; /* Image is hidden by default */
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
    width: 50px; /* Adjust width as necessary */
    height: auto; /* Maintain aspect ratio */

}

.view-btn:hover .btn-image img {
    display: block; /* Image is shown when the button is hovered */
}

/* Optional: Adjust hover styles for the button text to prevent shifting */
.view-projects {
    transition: padding-right 0.3s ease; /* Smooth transition for padding */
}

.view-btn:hover .view-projects {
    padding-right: 10px; /* Adds padding to make room for the image */
}


/*mr top*/

/*mr bottom*/
.mr-bottom{
    border: 2px solid #131661 ;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

/*technical skills*/
.technical-skills{
    padding: 20px;
    background: #d50e38;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/*ts-header*/
.ts-header{
    color: #f4f4f7;
    font-weight: bold;
    font-size: x-large;
    animation: slideInFromRight 1.5s ease-out forwards;
}

/*ts-content*/

.ts-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
}

.row {
    flex-grow: 1;  /*Each row takes equal space */
    display: flex; /* Enables flexbox properties within the row */
    align-items: center; /* Vertically centers content in each row */
    justify-content: space-around; /* Horizontally centers content in each row */
    /*box-shadow: 0 1px 3px #131661;  Subtle shadow effect below the element */
    
}

.web, .software,.design {
    /* background-color: #fef8ae; Light yellow background for the entire row */
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: stretch; /* Stretch children to match the width */
    color: #000000 text for visibility 
    /* gap: 10px; Space between containers */
    
}

.web-header, .software-header, .design-header {
    /*background-color: #808080;  Gray background */
    color: #131661; /* White text for contrast */
    padding-left: 20px; /* Padding for the header */
    font-weight: bold;
    font-size: large;
    animation: slideInFromRight 1.5s ease-out forwards; /* Apply the animation */
}

.web-main-content, .software-main-content, .design-main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: baseline;
    justify-items: center;
    text-align: center;
    animation: slideInFromRight 1.5s ease-out forwards; /* Apply the animation */

}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.skill img {
    width: 45px; /* Adjust size as necessary */
    height: auto; /* Maintain aspect ratio */
}


/*-------------------*/
/*   left collapsed  */
/*-------------------*/

.main-left.collapsed .back-btn{
    display: flex !important;
    animation: slideUpFadeIn 1.5s ease-out forwards;
}

.main-left.collapsed {
    background-color: #d50e38; /* Light grey background */
    padding: 20px;
    gap: 20px;
    flex:1;
    display: block;
    transition: background-color 1.5s ease;
}

.main-left.collapsed .main-container{
    display: flex;
}



/*ml left*/
.main-left.collapsed .ml-left{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.main-left.collapsed .profile img {
    width: 200px; /* Set the width of the image */
    height: 250px; /* Set the height of the image */
    object-fit: cover; /* Ensures the image covers the area without distorting */
    border-radius: 50%; /* Creates an elliptical shape */
    box-shadow: 0 0 10px 2px #d50e38; /* Adds a yellow shadow effect */
    animation: slideUpFadeIn 1.5s ease-out forwards;
}

.main-left.collapsed .socials{
    display: none;
}

.main-left.collapsed .socials img {
    width: 50px; /* Sets a fixed width for each logo */
    height: 50px; /* Sets a fixed height for each logo */
    object-fit: contain; /* Ensures the logos are contained within their box without stretching */
}

/*ml right*/
.main-left.collapsed .ml-right{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
    padding: 0;
}

.main-left.collapsed .intro{
    display: flex;
    flex-direction: column;    
    animation: slideUpFadeIn 1.5s ease-out forwards;
 }

 .main-left.collapsed .greetings{
    display: none;
}

.main-left.collapsed .role{
    display: none;
}


.main-left.collapsed .role-collapsed{
    display: flex !important;
    gap:5px;    
    font-weight: normal;
    align-items: baseline;
    text-align: left;
 }

 .main-left.collapsed .role-collapsed-1{
    font-size: small;
    color: #fbfbfe;
 }

.main-left.collapsed .name{
    font-size:large;
    color: #f9f5b9;
    text-shadow: 0 3px 12px #d50e38;
    font-weight: bold;
    animation: slideDownFadeIn 1.5s ease-out forwards; /* Apply the animation */
}

 .main-left.collapsed .role-1{
    font-size: x-large;
    color: #d50e38;
    animation: slideDownFadeIn 1.5s ease-out forwards; /* Apply the animation */
    text-shadow: 0 3px 12px #d50e38;
 }

 .main-left.collapsed  .bridge{
    font-size: x-large;
    color: #131661;
    animation: slideDownFadeIn 1.5s ease-out forwards; /* Apply the animation */
 }

 .main-left.collapsed .role-2{
    font-size: x-large;
    color: #d50e38;
    animation: slideDownFadeIn 1.5s ease-out forwards; /* Apply the animation */
    text-shadow: 0 3px 12px #d50e38;
 }

 .main-left.collapsed .age{
    display: none;
 }

 .main-left.collapsed .description {
    display: none;
}

.main-left.collapsed .soft-skills{
    display: flex !important;
    flex-direction: column;
    gap: 5px;
    text-align: left;
    background-color: #f9f5b9;
    border-radius: 20px;
    padding: 10px;
    color: #131661;
    animation: slideUpFadeIn 1.5s ease-out forwards;
}


.main-left.collapsed .soft-skills-header{
    font-weight: bold;
}

.main-left.collapsed .view-btn {
    display: none;
}

.main-left.collapsed .btn-image img {
    display: none; /* Image is hidden by default */
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
    width: 50px; /* Adjust width as necessary */
    height: auto; /* Maintain aspect ratio */

}

.main-left.collapsed .view-btn:hover .btn-image img {
    display: block; /* Image is shown when the button is hovered */
}

/* Optional: Adjust hover styles for the button text to prevent shifting */
.main-left.collapsed .view-projects {
    transition: padding-right 0.3s ease; /* Smooth transition for padding */
}

.main-left.collapsed .view-btn:hover .view-projects {
    padding-right: 10px; /* Adds padding to make room for the image */
}

/*main right*/
.main-right.expand{
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 4 ;
}

.main-left.collapsed .socials-collapsed{
    display: none;
}


/*mr top*/
.main-right.expand .mr-top{
    display: flex !important;
    flex-direction: column;
}



.pop-up-text {
    animation: popRightToLeft 1.5s ease-out forwards;
    color: #d50e38;
    font-weight: bold;
    font-size: x-large;
  }

 /* Container for the rows inside the second column */
 .project-rows {
    flex: 1;
    display: flex;
    flex-direction: column;  /* Stack rows vertically */
    gap: 20px;               /* Space between rows */
  }
  
  .project-row {
    display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex: 3;
        gap: 10px;  

}

.column {
    flex: 1; /* Each column takes equal space */
    border-radius: 8px; /* Optional: adds rounded corners */
}


.proj-header {
    color: #d50e38;
    font-weight: bold;
    font-size: xx-large;
    text-shadow: 0 3px 5px #d50e38;
    
}

#project-title{
    animation: slideInFromLeft 1.5s ease-out forwards;
}


.proj-description {
   color: #131661;
   font-weight: normal;
   font-size: medium;

}

#project-description{
       animation: slideUpFadeIn 1.5s ease-out forwards;
}

.proj-role{
    color: #d50e38;
    font-weight: bold;
    font-size: large;
}

#project-role{
    animation: slideInFromRight 1.5s ease-out forwards;
}
  
  /* Pastel orange background */
  
  .pastel-orange {
    flex: 1;
    background-color: #131661;  /* You can adjust this color as needed */
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    color: #fbfbfe;
  }

.tools-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    animation: popRightToLeft 1.5s ease-out forwards;
}

.tools-header{
    flex: 1;
    padding-top: 10px;
    font-size: large;
    font-weight: bold;
}

  .tool-item {
    display: flex;
    flex-direction: column;
    align-items: center;

}


  .proj-tools {
    display: flex;
    gap: 45px;         
    flex-wrap: wrap;      
    padding: 10px;      
    justify-content: center;
    flex: 2;
    font-size: small;
}

/*mr bottom*/
.main-right.expand .mr-bottom{
    display:none;
}

/*technical skills*/
.main-right.expand .technical-skills{
    font-size: smaller;
    background-color: #131661;
    border: none;
    border-radius: 10px;
    border-top: 2px solid #d50e38;
}

/*ts-header*/
.main-right.expand .ts-header{
    color: #f4f4f7;
    font-weight: bold;
    font-size: x-large;
}

/*ts-content*/

.main-right.expand .ts-content{
    display: none;
    flex: 0;
}

.main-right.expand .row {
    flex-grow: 1;  /*Each row takes equal space */
    display: flex; /* Enables flexbox properties within the row */
    align-items: center; /* Vertically centers content in each row */
    justify-content: space-around; /* Horizontally centers content in each row */
    /*box-shadow: 0 1px 3px #131661;  Subtle shadow effect below the element */
    
}

.main-right.expand .web, .software,.design {
    /* background-color: #fef8ae; Light yellow background for the entire row */
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: stretch; /* Stretch children to match the width */
    color: #000000 text for visibility 
    /* gap: 10px; Space between containers */
    
}

.main-right.expand .web-header, .software-header, .design-header {
    /*background-color: #808080;  Gray background */
    color: #131661; /* White text for contrast */
    padding-left: 20px; /* Padding for the header */
    font-weight: bold;
    font-size: large;
    animation: slideInFromRight 1.5s ease-out forwards; /* Apply the animation */
}

.main-right.expand .web-main-content, .software-main-content, .design-main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: baseline;
    justify-items: center;
    text-align: center;
    animation: slideInFromRight 1.5s ease-out forwards; /* Apply the animation */

}

.main-right.expand .skill{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-right.expand .skill img {
    width: 45px; /* Adjust size as necessary */
    height: auto; /* Maintain aspect ratio */
}


/* Original gallery styles remain unchanged */
.gallery {
    width: 100%;
    position: relative;
}
  
.gallery-container {
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
    animation: popRightToLeft 1.5s ease-out forwards;
}
  
.gallery-item {
    height: 200px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 350px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}
  
.gallery-item-5 {
    left: 40%;
    opacity: 0.4;
    transform: translateX(-50%);
}
  
.gallery-item-4, .gallery-item-2 {
    height: 300px;
    opacity: 0.8;
    z-index: 1;
    background-color: #d50e38;
    padding: 10px;
}
  
.gallery-item-4 {
    left: 30%;
    transform: translateX(-50%);
}
  
.gallery-item-1 {
    box-shadow: 0 3px 15px #131661;
    height: 350px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background-color: #131661;
    padding: 20px;
}
  
.gallery-item-2 {
    left: 70%;
    transform: translateX(-50%);
}
  
.gallery-item-3 {
    left: 60%;
    opacity: 0.4;
    transform: translateX(-50%);
}

/* Position controls absolutely within the gallery */
.gallery-controls {
    position: absolute;
    top: 50%; /* Center vertically */
    width: 100%; /* Extend the full width of the gallery */
    display: flex;
    justify-content: space-between; /* Spreads the children to each end */
    animation: popUp 1.5s ease forwards;
}
.gallery-controls button {
    background-color: #d50e38; /* Pink background */
    border-radius: 50%; /* Circular shape */
    width: 50px; /* Equal width and height to maintain circle shape */
    height: 50px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.gallery-controls button img {
    max-width: 100%; /* Ensures the image fits within the button */
    height: auto; /* Maintains aspect ratio */
}

/* Styles for navigation dots, unchanged */
.gallery-nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}
  
.gallery-nav li {
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}

.gallery-nav li.gallery-item-selected {
    background: #555;
}



@media only screen and (max-width: 800px) {
    .main-container{
        display: flex;
        flex-direction: column;
    }
    
    /*main left*/
    .main-left{
        flex-direction: column;
    }
    
    /*main right*/
    .main-right{
        padding: 20px;
    }
    
    /*ml left*/
    .ml-left{
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .main-left.collapsed .profile{
        padding: 10px;
    }
     
    .profile img {
        width: 300px; /* Set the width of the image */
        height: 350px; /* Set the height of the image */
        object-fit: cover; /* Ensures the image covers the area without distorting */
        border-radius: 50%; /* Creates an elliptical shape */
        box-shadow: 0 0 10px 2px #d50e38; /* Adds a yellow shadow effect */
        animation: slideInFromLeft 1.5s ease-out forwards;
    }
    
    /*ml right*/
    .ml-right{
        padding-bottom: 0;
    }
    
    .intro{
        display: flex;
        flex-direction: column;    
     }
    
    .greetings{
        font-size: x-large;
        color: #131661;
        animation: slideDownFadeIn 1.5s ease-out forwards; /* Apply the animation */
        font-weight: bold;
    }
    
    .name{
        font-size: xx-large;
        color: #d50e38;
        text-shadow: 0 3px 12px #d50e38;
        font-weight: bold;
        animation: slideDownFadeIn 1.5s ease-out forwards; /* Apply the animation */
    }
    
    .role{
        display: flex;
        gap:5px;    
        font-weight: bold;
        align-items: baseline;
        animation: slideDownFadeIn 1.5s ease-out forwards; /* Apply the animation */
     }
    
     .role-1{
        font-size: large;
     }
    
     .bridge{
        font-size: x-large;
        color: #131661;
        animation: slideDownFadeIn 1.5s ease-out forwards; /* Apply the animation */
     }
    
     .role-2{
        font-size: large;
     }
    
     .age{
        display: flex;
        gap:5px;    
        font-weight: bold;
        align-items: baseline;
        font-size:medium;
        color: #131661;
        animation: slideDownFadeIn 1.5s ease-out forwards; /* Apply the animation */
     }
    
     .description {
        background-color: #d50e38; /* Existing background color */
        padding: 20px; /* Existing padding */
        color: #fbfbfe; /* Text color */
        border-radius: 20px; /* Rounded corners */
        text-align: justify; /* Text alignment */
        animation: slideDownFadeIn 1.5s ease-out forwards;
        
    }
    
    .view-btn{
        display: none;
    }
    
    
    .view-mobile-btn {

        padding: 10px 20px; /* Adequate padding for clickable area */
        background-color: #131661; /* Navy blue background to stand out */
        color: #fff; /* White text */
        border: none; /* No border */
        border-radius: 20px; /* Rounded corners */
        font-weight: bold; /* Bold text */
        cursor: pointer; /* Pointer cursor on hover */
        transition: background-color 0.3s; /* Smooth transition for hover effect */
        outline: none; /* Remove outline to keep the design clean */
        display: flex !important;
        justify-content: left;
        align-items: center;
        box-shadow: 0 3px 12px #131661;
        position: relative; /* Ensures the positioning context is set */
        overflow: hidden; /* Prevents overflow of child elements */
        animation: slideDownFadeIn 1.5s ease-out forwards;
    }
    
    
    .view-mobile-btn:hover .btn-image img {
        display: block; /* Image is shown when the button is hovered */
    }
    

    /*mr bottom*/
    .mr-bottom{
        flex-direction: row;
    }
    
    /*technical skills*/
    .technical-skills{
        border-radius: 14px;
    }
    
    /*ts-header*/
    .ts-header{
        writing-mode: vertical-lr; /* Orient text vertically */
        text-orientation: upright; /* Keep characters in their natural upright orientation */
        white-space: nowrap; /* Prevents wrapping on whitespace which can occur in vertical layouts */
        background: #d50e38; /* Red background */
        color: white; /* White text color */
        width: 40px; /* Enough width to accommodate wider characters */
    }
    
    /*ts-content*/
    
    .ts-content{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: stretch;
    }

    .main-left.collapsed .view-mobile-btn {
        display: none !important;
    }


  
.gallery-container {
    height: 300px;
}
  
.gallery-item {
    height: 200px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 250px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}
  
.gallery-item-5 {
    left: 46%;
    opacity: 0.4;
    transform: translateX(-50%);
}
  
.gallery-item-4, .gallery-item-2 {
    height: 200px;
    opacity: 0.8;
    z-index: 1;
    background-color: #d50e38;
    padding: 10px;
}
  
.gallery-item-4 {
    left: 36%;
    transform: translateX(-50%);
}
  
.gallery-item-1 {
    box-shadow: 0 3px 15px #131661;
    height: 200px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background-color: #131661;
    padding: 20px;
}
  
.gallery-item-2 {
    left: 64%;
    transform: translateX(-50%);
}
  
.gallery-item-3 {
    left: 54%;
    opacity: 0.4;
    transform: translateX(-50%);
}

/* Position controls absolutely within the gallery */
.gallery-controls {
            position: relative;
            top: 50%;
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 50px;
            animation: popUp 1.5sease forwards;
}


}


